@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garante que o layout ocupe 100% da tela */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* Cor clara de fundo (opcional) */
}
.logo-container {
  width: 212px; /* Define a largura desejada */
  display: flex; /* Para alinhar os itens dentro */
  align-items: center; /* Alinhar verticalmente */


}

