@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garante que o layout ocupe 100% da tela */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* Cor clara de fundo (opcional) */
}
.logo-container {
  width: 212px; /* Define a largura desejada */
  display: flex; /* Para alinhar os itens dentro */
  align-items: center; /* Alinhar verticalmente */


}

.hero-image-container {
  /* Outros estilos */
  position: relative; /* O container precisa ser 'relative' para o 'absolute' funcionar dentro dele */
 width: 733.51px;
  height: 431.61px;
}

.hero-image {
  /* Outros estilos */
  position: absolute;
  left:  650px; /* Posiciona a borda esquerda da imagem a 100px da borda esquerda do container */
  top: -100px;  /* Posiciona o topo da imagem a 80px do topo do container */
  transform: rotate(-30.34deg); /* Adiciona a rotação */
  display: block;
}
